<phpunit
  colors="true"
  convertErrorsToExceptions="false"
  convertNoticesToExceptions="false"
  convertWarningsToExceptions="false"
  stopOnFailure="false">
  
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>test/phpunit/unit/</directory>
    </testsuite>
     <testsuite name="Functional Tests">
       <directory>test/phpunit/functional/</directory>
    </testsuite>
  </testsuites>
</phpunit>
