span.status #{status}
form
	label File Name: #{logFileName}
	br
	label(for='logName') Log Name:
	input(type='text', class='logName', value=logName)
	br
	label(for='mapName') Map Name:
	input(type='text', class='mapName', value=mapName)