#logUploadQueue
	.helper To upload logs, click the Add Logs button or drag your log files from the desktop here.
	div
		ul
br
br
button(id='addLogFiles') Add Logs
button(id='uploadLogFiles') Upload Logs