table(id='recentlyAdded')
  caption Recently Added
  tbody
    - recentlyAddedLogs.forEach(function(log) {
        tr
          td
            a(href='/logs/#{log.sequence}')
              =log.name
          td=log.createdAt
    - });