!!! 5
html
  head
    title=title
      | - TF2Logs.com
    link(rel='stylesheet', href='/main.css')
  body
    #topbar
      #logo
        a(href='/')
          img(src='/images/tf2logsv2logo.png')
      #menu
        ul
          - if (isLoggedIn)
            li
              a(href='/logs/upload') Upload Log
            li
              a(href='/players/logout', class='externalLink') Logout
          - else
            li
              a(href='/players/login', class='externalLink') Login
      .clearBoth
    !{flashMessages}
    #contentWrapper
      #content!= body
  
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
  script(src='/javascripts/plupload.1.5.1.1.js')
  script(src='/javascripts/plupload.html5.1.5.1.1.js')
  script(src='/nowjs/now.js')
  script(src='/javascripts/tf2logs.js')
  script(src='/javascripts/jade.runtime.0.16.0.min.js')
  script(src='/templates.js')