!!! 5
html
  head
    title
      =title
    link(rel='stylesheet', href='/main.css')
  body
    #topbar
      #logo
        a(href='/')
          img(src='/images/tf2logsv2logo.png')
      #menu
        - if (isLoggedIn)
          a(href='/players/logout') Logout
        - else
          a(href='/players/login') Login
      .clearBoth
    !{flashMessages}
    #contentWrapper
      #content!= body

