!!! 5
html
  head
    title
      =title
    link(rel='stylesheet', href='/main.css')
  body
    #topbar
      #logo
        a(href='/')
          img(src='/images/tf2logsv2logo.png')
      #menu
        ul
          - if (isLoggedIn)
            li
              a(href='/logs/upload') Upload Log
            li
              a(href='/players/logout') Logout
          - else
            li
              a(href='/players/login') Login
      .clearBoth
    !{flashMessages}
    #contentWrapper
      #content!= body

