contentColors()
  color #000
  background-color #b7b7b7

inlineList()
  list-style-type none
  display inline
  padding 0px
  margin 0px

topbarFontSize = 12px
topbarHeight = 35px
menuTopPadding = topbarHeight - topbarFontSize - 3px

body
  font 12px Arial, sans-serif
  color #fff
  background-color #201913
  margin 0
  padding 0

#topbar
  contentColors()
  height topbarHeight
  font-size topbarFontSize
  width 100%

#logo
  float left

#menu
  float right
  padding-top menuTopPadding

#menu ul, #menu li
  padding-left 3px
  inlineList()

#logUploadQueue
  border 1px solid black

#logUploadQueue ul
  inlineList()

#logUploadQueue li
  inlineList()
  margin-left 3px
  padding: 5px
  border 1px solid black

#logUploadQueue .helper
  font-size 10px

#logUploader .remove
  color red
  cursor pointer

#logUploadQueue li .logName
  cursor pointer
  text-decoration underline

#logFileMetaEditor
  border 1px solid red

.clearBoth
  clear both

#contentWrapper
  margin 5px

#content
  contentColors()

.flash
  font-weight bold
  color #000

.ui-state-highlight
  background-color #5d93ae

.ui-state-error
  background-color #d06553

