

#totalTime {
	font-size: 10px;
	opacity: .7;
	font-weight: bold;
	margin-right: 3px;
}

#playbackProgress {
	text-align: right;
	float: right;
	margin-top: 5px;
}

#playbackProgress .ui-slider-handle {
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 3em;
}

#playPauseButton {
  font-weight: bold;
	float: left;
	margin-top: 5px;
}

#chatBox {
	overflow: auto;
	height: 100px;
	//width set dynamically
}

#chatBox ul {
	list-style-type: none;
	margin: 0;
	padding: 3px;
	font-size: 10px;
}

#chatBox .chatUser {
	font-weight: bold;
}

#chatBox .red {
	color: #d06553;
}

#chatBox .blue {
	color: #79b3d2;
}

#chatBox li {
  text-align: left;
}


