body {
  background-color: #2A2725;
  color: #D4D4D4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a:link {
  text-decoration: underline;
  color: #D4D4D4;
}

a:visited {
  text-decoration: underline;
  color: #D4D4D4;
}

a:active {
  text-decoration: underline;
  color: #D4D4D4;
}

a:hover {
  text-decoration: none;
  color: #D4D4D4;
}

#logName {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#score {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#score .Blue {
  color: blue;
}

#score .Red {
  color: #990000;
}

#score .winSeparator {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#statPanel  .Blue {
  background-color: #001A33;
}

#statPanel .Red {
  background-color: #33001A;
}

.statTable, .statTable td {
  border: 1px solid #D4D4D4;
  border-collapse: collapse;
  text-align: center;
}

#playerName {
  font-size: 20px;
  font-weight: bold;
}

#playerName .description {
  font-size: 20px;
  font-weight: normal;
}

#header {
  font-size: 40px;
  font-weight: bold;
}
