h1= log.name

!{score(log.log.blueScore, log.log.redScore)}

include _playerStats
include _medicSpread
include _healSpread
include _weaponSpread
include _playerSpread
include _itemSpread
include _chatLog