p Use this form to upload your logs.

#logUploader
  form(action='/logs/upload', method='POST', enctype='multipart/form-data')
    input(type='file', name='logfile')
    input(type='submit', value='Upload')
